body
{
background-color: teal;
margin-left: -1%;
}

#y1
{
    border-radius: 4%;
    width: 17%;
    margin-top: 7%;
    margin-right: 1%;
    
}

#y2
{
    border-radius: 4%;
    
    width: 17%;
    margin-top: 7%;
    margin-right: 1%;
    position: absolute;
    
}

#y3
{
    position: absolute;
    border-radius: 4%;
    width: 25%;
    left: 36.8%;
    top: 14.5%;
}

#y4
{
    position: absolute;
    border-radius: 4%;
    width: 36%;
    left: 62.8%;
    top: 14.4%;
}

#y5
{
    border-radius: 4%;
    
    width: 17%;
    margin-right: 1%;
    position: absolute;
    top: 35%;
    
}

#y6
{
    border-radius: 4%;
    
    width: 17%;
    position: absolute;
    top: 51.5%;
    left: 1%;
    
}
#y7
{
    border-radius: 4%;
    
    width: 24.5%;
    position: absolute;
    top: 45%;
    left: 37%;
    
}
#y8
{
    position: absolute;
    width: 36.5%;
    right: 1%;
    border-radius: 4%;
    top: 58.5%;
}

button
{
    position: absolute;
    right: 45%;
    font-size: 350%;
    font-family: 'New Tegomin', serif;
    color: rgb(252, 47, 47);
    font-weight: bold;
    top: -1%;
    background-color: rgb(1, 104, 104);
    outline: none;
    border-color: transparent;
    border-radius: 5%;
    text-align: center;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    
}